@page "/counter"
@inject IHomeGuiAppService homeService;
@rendermode InteractiveAuto

@if (names == null)
{
    <span>Loading</span>
}else if(names.Count ==0 ){
    <span>no record</span>
}
else
{
    <ul>
        @foreach (string name in names)
        {
            <li>@name</li>
        }
    </ul>
}


@code {
    List<string> names { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        names = await homeService.GetDatas();
    }
}
